<main
  class="min-h-screen flex flex-col lg:justify-center items-center p-4 gap-4"
>
  <form
    [formGroup]="newTaskForm"
    (ngSubmit)="handleSubmit()"
    class="w-full lg:w-1/4 border rounded-lg overflow-hidden shadow border-b flex items-center justify-between"
  >
    <input
      placeholder="Comprar leche..."
      type="text"
      class="py-2 px-4 w-full"
      autofocus
      formControlName="title"
    />
    <div class="border-l">
      <button class="p-2 hover:bg-black/10 opacity-70">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-6"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 5l0 14" />
          <path d="M5 12l14 0" />
        </svg>
      </button>
    </div>
  </form>
  <div class="h-full w-full lg:w-1/4 mx-auto shadow rounded-lg">
    <header
      class="border-b flex items-center justify-between rounded-t-lg border"
    >
      <input
        placeholder="Buscar..."
        type="text"
        class="py-2 px-4 w-full rounded-ss-lg"
      />
      <div class="relative border-l rounded-tr-lg">
        <button
          class="p-2 hover:bg-black/10 rounded-tr-lg opacity-70"
          (click)="toggleHideFilter()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-6"
            width="44"
            height="44"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"
            />
          </svg>
        </button>
        @if(!hideFilter()){
        <div
          class="absolute w-fit right-0 border rounded-lg shadow z-50 bg-white overflow-hidden"
        >
          <ul class="opacity-70 font-semibold">
            <li
              class="p-2 hover:bg-black/10 cursor-pointer flex items-center gap-1"
              (click)="handleFilterClick('all')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                [class.opacity-100]="filter() === 'all'"
                [class.opacity-0]="filter() !== 'all'"
                class="size-5 min-w-5 opacity-0 transition-opacity"
                width="44"
                height="44"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l5 5l10 -10" />
              </svg>
              <span>Todas</span>
            </li>
            <li
              class="p-2 hover:bg-black/10 cursor-pointer flex items-center gap-1"
              (click)="handleFilterClick('pending')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                [class.opacity-100]="filter() === 'pending'"
                [class.opacity-0]="filter() !== 'pending'"
                class="size-5 min-w-5 opacity-0 transition-opacity"
                width="44"
                height="44"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l5 5l10 -10" />
              </svg>
              <span>Pendientes</span>
            </li>
            <li
              class="p-2 hover:bg-black/10 cursor-pointer flex items-center gap-1"
              (click)="handleFilterClick('completed')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                [class.opacity-100]="filter() === 'completed'"
                [class.opacity-0]="filter() !== 'completed'"
                class="size-5 min-w-5 opacity-0 transition-opacity"
                width="44"
                height="44"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l5 5l10 -10" />
              </svg>
              <span>Completadas</span>
            </li>
          </ul>
        </div>
        }
      </div>
    </header>
    @if(tasksFiltered().length <= 0) {
    <div
      class="border-x overflow-hidden text-center p-3 flex flex-col items-center justify-center gap-1 opacity-70"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-10"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 21a9 9 0 1 1 0 -18a9 9 0 0 1 0 18z" />
        <path d="M10 10c-.5 -1 -2.5 -1 -3 0" />
        <path d="M17 10c-.5 -1 -2.5 -1 -3 0" />
        <path d="M14.5 15a3.5 3.5 0 0 1 -5 0" />
      </svg>
      <p class="text-sm font-semibold">Sin tareas</p>
    </div>
    } @else {
    <ul class="border-x overflow-hidden">
      @for(task of tasksFiltered(); track task.id){
      <app-task
        [task]="task"
        (updateTask)="updateTask($event)"
        (deleteTask)="deleteTask($event)"
      />
      }
    </ul>
    }
    <footer
      class="border-t flex items-center justify-between rounded-b-lg border overflow-hidden p-3 opacity-70"
    >
      <p>{{ total() }} @if(total() === 1) { tarea } @else { tareas }</p>
      <p>{{ filter() | filterToSpanish }}</p>
    </footer>
  </div>
</main>

<router-outlet />
